.wherepage {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  color: $color-black;
  background-color: $color-white;
  border: 3px solid $color-primary;
  border-radius: 50px;
  padding: 25px;
  min-width: 890px;

  a {
    padding-right: 30px;
  }

  .btn_what {
    color: $color-primary;
    background-color: $color-white;
    font-size: 1em;
    font-weight: 700;
    width: 100%;
    text-align: center;
    padding: 5px;
    margin: 15px;
    border-radius: 50px;
    border: 3px solid $color-white;
  }

  .btn_what:hover {
    color: $color-white;
    background-color: $color-primary;
    border: 3px solid $color-primary;
  }
}

.mappage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000048;
}

.whereinfo_box {
  background-color: $color-white;
  position: relative;
  left: -184px;
  border: 1px solid $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whereinfo_image {
  width: 200px;
  height: 200px;
  margin: 5px;
  margin-right: 0;
  border: 1px solid $color-primary;
}

.whereinfo {
  color: $color-primary;
  width: 200px;
  height: 200px;
  background-color: $color-white;
  border: 1px solid $color-primary;
  padding: 15px;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;

  h4 {
    font-size: 1em;
  }

  p {
    font-size: 0.8em;
    text-align: justify;
  }
}

.show_map {
  position: absolute;
  top: 100px;
  left: -40px;
  width: 120px;
  transform: rotate(90deg);
  color: $color-white;
  font-weight: 700;
  text-align: center;
  background-color: $color-primary;
  border: 3px solid $color-primary;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

//.show_map:hover {
//    color: $color-primary;
//    background-color: $color-white;
//    border: 3px solid $color-primary;
//}

.wherego {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .wheremap {
    border: 3px solid $color-white;
    border-bottom: none;
    box-shadow: 0 0 0 3px $color-primary;
    margin: 5px 10px 0 10px;
  }

  .mustsee_all {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .mustsee {
      font-size: 2em;
      text-align: center;
      font-weight: bold;
      color: $color-primary;
      width: 100%;
      padding: 25px;
    }

    .noplaces {
      color: #455f5c;
      text-align: center;

      p {
        color: $color-white;
        font-weight: 700;
        background-color: $color-primary;
        border: 2px solid $color-primary;
        border-radius: 50px;
        padding: 15px 20px;
      }
    }

    .myplaces {
      list-style-type: none;
      margin: 0 10px 0 10px;

      div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }

      li {
        text-align: center;
        color:$color-primary;
        font-weight: bold;
        width: 100%;
        background-color: #6e989516;
        border: 2px solid $color-primary;
        border-radius: 50px;
        padding: 15px 20px 15px 40px;
        margin: 5px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        position: relative;

        h3 {
          margin-right: 20px;
        }

        div {
          display: flex;
          flex-wrap: nowrap;
        }

        .btn_info {
          color: $color-primary;
          font-weight: 700;
          background-color: $color-white;
          border: 2px solid $color-primary;
          border-radius: 50px;
          width: 80px;
          padding: 5px;
          margin: 5px 10px 5px 5px;
        }

        .btn_info:hover {
          color: $color-white;
          background-color: $color-primary;
          border: 2px solid $color-white;
        }

        .btn_add_note {
          color: $color-note;
          font-weight: 700;
          background-color: $color-white;
          border: 2px solid $color-note;
          border-radius: 50px;
          width: 80px;
          padding: 5px;
          margin: 5px 10px 5px 5px;
          display: block;
        }

        .btn_add_note:hover {
          color: $color-white;
          background-color: $color-note;
        }

        .btn_rem {
          color: $color-remove;
          font-weight: 700;
          background-color: $color-white;
          border: 2px solid $color-remove;
          border-radius: 50px;
          width: 80px;
          padding: 5px;
          margin: 5px 10px 5px 5px;
        }

        .btn_rem:hover {
          color: $color-white;
          background-color: $color-remove;
        }

        .btn_edit_note {
          color: $color-note;
          font-weight: 700;
          background-color: $color-white;
          border: 2px solid $color-note;
          border-radius: 50px;
          width: 50px;
          padding: 5px;
          margin-top: 5px;
          margin-left: 10px;
        }

        .btn_edit_note:hover {
          color: $color-white;
          background-color: $color-note;
        }
      }

      li:hover {
        color:$color-white;
        background-color: $color-primary;
        border: 2px solid $color-primary;
      }

      .myplaces_info {
        position: absolute;
        top: 115%;
        left: 0;
        width: 100%;

        p {
          color: $color-primary;
          text-align: center;
          vertical-align: middle;
          font-weight: 700;
          font-size: 1em;
          background-color: white;
          border: 2px solid $color-primary;
          border-radius: 28px;
          width: 100%;
          height: 100px;
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .myplaces_note {
        position: absolute;
        top: 115%;
        left: 0;
        width: 100%;

        input {
          color: $color-note;
          text-align: center;
          font-weight: 700;
          font-size: 1.2em;
          border: 2px solid $color-note;
          border-radius: 28px;
          width: 100%;
          height: 50px;
        }

        input:focus{
          outline: 0;
          color: $color-note;
          background-color: $color-white;
        }

        .existing_note {
          color: $color-white;
          background-color: $color-note;
        }
      }

      .myplaces_pic {
        position: absolute;
        top: 90px;
        left: 30%;
        width: 40%;
        padding: 10px;

        img {
          border: 2px solid $color-primary;
          border-radius: 28px;
          width: 100%;
        }
      }
    }
  }

  .btn_add {
    width: 100%;
    margin-top: 10px;
    font-size: 1em;
    font-weight: bold;
    color: $color-primary;
    background-color: $color-white;
    border: 1px solid $color-primary;
    border-radius: 50px;
  }

  .btn_add:hover {
    color: $color-white;
    background-color: $color-primary;
  }
}

.camera {
  height: 50px;
  width: 50px;
  margin-right: 15px;
}